/* General App Layout */
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.App-header h1 {
  margin: 0;
  font-size: 1.5em;
}

/* Status Indicator */
.status {
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
}
.status.connecting { background-color: #f0ad4e; }
.status.connected { background-color: #5cb85c; }
.status.disconnected { background-color: #d9534f; }
.status.error { background-color: #d9534f; }


/* Main Content Layout */
.main-content {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  gap: 1rem;
  height: calc(100vh - 90px); /* Full height minus header */
}

.chart-wrapper {
  flex: 3; /* Takes up 3/4 of the space */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
}

.chart-container {
  position: relative;
  flex: 1; /* Each chart takes half of the wrapper's height */
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.logs-container {
  flex: 1; /* Takes up 1/4 of the space */
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  text-align: left;
}

.logs-container h2, .logs-container h3 {
  margin-top: 0;
}